.modal-header
  h4.modal-title Add new set
  button.close(type="button", aria-label="Close", (click)="modal.dismiss('cancel')")
    span(aria-hidden="true") &times;
.modal-body
  form(#setIdForm="ngForm", (ngSubmit)="save()", novalidate)
    button(type="submit", style="display:none")
    .form-group([ngClass]="{ 'has-error': formErrors.setIdInput }")
      input.form-control(
        type="text",
        name="setIdInput",
        [(ngModel)]="setId",
        required="",
        placeholder="Set Id",
        autofocus=""
      )
      .alert.alert-danger.mt-1(*ngIf="formErrors.setIdInput")
        | {{formErrors.setIdInput}}
