.modal-header
  button.close(type="button", aria-label="Close", (click)="modal.dismiss('cancel')")
    span(aria-hidden="true") &times;
  h4.modal-title Add new set
.modal-body
  form.form-inline(#setIdForm="ngForm", (ngSubmit)="save()", novalidate)
    button(type="submit", style="display:none")
    .form-group([ngClass]="{ 'has-error': formErrors.setIdInput }")
      input.form-control(
        type="text",
        name="setIdInput",
        [(ngModel)]="setId",
        required="",
        placeholder="Set Id",
        autofocus=""
      )
      .alert.alert-danger(*ngIf="formErrors.setIdInput")
        | {{formErrors.setIdInput}}
